@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Contoso Crafts, but mostly Chiggies.</h1>
    <img src="https://i.pinimg.com/236x/a8/44/33/a84433e08e38f0fccaed1cf1608b3d98.jpg" alt="finnegan" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
